.posts {
  float: left;
  width: 65%;
  margin: 0 0 20px 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.posts h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.posts p {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  color: #bbb;
}

.num-answers {
  float: right;
  font-weight: 600;
}

#posts-container {
  position: relative;
}


/* https://docs.angularjs.org/api/ngAnimate */
.posts.ng-enter {
  transition: 0.3s linear all;
  opacity:0;
}

.posts.ng-enter.ng-enter-active {
  opacity:1;
}

.posts.ng-leave {
  transition: 0.3s linear all;
  opacity:1;
}

.posts.ng-leave.ng-leave-active {
  opacity:0;
}
