
<div id="forums-container">
  <div class="shift {{forumsClass}}">
    <div class="search">
      <input ng-model="searchFor" placeholder="Search" />
    </div>

    <br />

    <div class="forum">
      {{ forum }}
    </div>

    <form class="addForum" ng-submit="newForum(forumName)">
      <input ng-model="forumName" placeholder="Add a forum..." />
    </form>

    <div class="forums" ng-repeat="forum in forums">
      <p>
        <a ui-sref="forums.posts({forum:forum})">{{ forum }}</a>
      </p>
    </div>

  </div>
</div>
<ui-view></ui-view>
