<div id="add-post-container">

  <form name="addPostForm"
        ng-submit="submit()">

    <div class="add-post">
      Vote!<br>
      <img title="Upvote" ng-click="changeVote(true)" src="../assets/images/uparrow.png"></i><br>
      <img title="Downvote" ng-click="changeVote(false)" src="../assets/images/downarrow.png"></i><br>
      Total: {{post.votes}}

      <input    ng-model="title"
                class="boxsizingBorder"
                required
                placeholder="Ask your question"/>

      <textarea ng-model="body"
                class="boxsizingBorder"
                placeholder="Feel free to elaborate"></textarea>

    <tags-input ng-model="tags"
                class="boxsizingBorder"
                add-on-space="true"
                placeholder="Tag your question"></tags-input>

      <select   ng-model="forum"
                ng-init="somethingHere = options[0]"
                ng-options="forum for forum in forums"></select>

      <button   type="submit"
                ng-disabled="addPostForm.$invalid"
                ng-Class="(title && forum !== 'Please choose a forum') ?
                'buttonEnabled' : 'buttonDisabled'">
                Ask a Quesiton</button>
    </div>

  </form>

</div>
