<div ng-include="'app/header.html'"></div>

<div id="answers-container">

  <div class="search answers-search">
    <input ng-model="searchFor" placeholder="Search"/>
  </div>

  <div class="answers-post">
    <span class="post-forum"> {{ post.forum }} </span>
    <h2 ng-bind="post.title"></h2>
    <p ng-bind="post.body"></p>

    <p class="info">
      <span ng-bind="post.author"></span> -
      {{ TimeService.relativeDate(post.created) }}
      <span class="num-answers"> {{ answers.length }} Answer {{ + answers.length !== 1 ? 's' : '' }} </span>
    </p>

    <div ng-if="theUser === post.author">
      <a ui-sref="edit-post({ post: post })">
        <span class="edit-delete">EDIT<span>
        </a> /
        <span ng-click="deletePost(post._id)" class="edit-delete">DELETE</span>
    </div>
    <br/><br/>
  </div>

  <div>
      <div class="answer" ng-repeat="answer in answers | filter:searchFor">
        <p ng-bind="answer.body"></p>
        <p class="info"><span ng-bind="answer.author"></span> -
          {{ TimeService.relativeDate(answer.created) }}
        </p>

        <div ng-if="theUser === answer.author">
          <span class="edit-delete" ng-click="deleteAnswer(post._id, answer._id)">DELETE</span>
        </div>
      </div>
  </div>

  <div class="answer-form">
    <form name="addAnswerForm"
          ng-submit="submit()">
        <textarea ng-model="newAnswerBody"
                  class="boxsizingBorder"
                  required
                  placeholder="The floor is yours."></textarea>
        <button type="submit"
                ng-disabled="addAnswerForm.$invalid"
                ng-Class="(newAnswerBody) ? 'buttonEnabled' : 'buttonDisabled'">
                Post an Answer </button>
    </form>
  </div>

</div>
